{% extends 'base.html' %}

{% block content %}
<main class="">
  <h1 class="recipe-card-title">Your Shopping List</h1>
  <form method="post" action="{% url 'delete_all_shopping_items' %}">
    {% csrf_token %}
    <button class="button">Delete All</button>
  </form>
  <ul>
    {% for item in shoppingitem_list %}
    <li>{{ item.food_item }}</li>
    {% endfor %}
  </ul>

</main>
{% endblock content %}