{% extends 'base.html' %} {% block content %}
<main class="tag-detail">
  <br />
  <br />
  <div class="">
    <a href="{% url 'tag_edit' tag.id %}">Edit</a>
    <a href="{% url 'tag_delete' tag.id %}">Delete</a>
    <h2 class="">Recipes for #{{ tag.name }}</h2>
    {% for recipe in tag.recipes.all %}
    <h2>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </h2>
  </div>
  {% empty %}
  <div>
    <h1>No recipes, yet</h1>
  </div>
  {% endfor %}
</main>
{% endblock content %}
