{% extends 'base.html' %} {% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'meal_edit' meal_plan.id %}">Edit</a>
    <a href="{% url 'meal_delete' meal_plan.id %}">Delete</a>
  </div>
  {% if meal_plan.image %}
  <img src="{{ meal_plan.image }}" class="pull-right" />
  {% endif %}
  <h1>{{ meal_plan.owner | default_if_none:"Unknown" }}'s Meal Plan</h1>
  <h2>{{ meal_plan.name }}</h2>
  <h2>for: {{ meal_plan.date | default_if_none:"Today" }}</h2>
  <br />
  <tbody>
    {% for ingredient in meal_plan.recipes.all %}
    <tr>
      <td>
        -<a href="{% url 'recipe_detail' ingredient.id %}"
          >{{ ingredient.name }}</a
        >
      </td>
      <br />
    </tr>
    {% endfor %}
  </tbody>
  <p>Created on {{ meal_plan.created }} | Updated on {{ meal_plan.updated }}</p>
</main>
{% endblock content %}
