{% extends 'base.html' %}

{% block content %}
<main class="recipe-grid">
  {% for meal in meal_plan_list %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'meal_detail' meal.pk %}">{{ meal.name }}</a>
    </h2>
    <p class="recipe-card-date">{{ meal.updated }}</p>

    {% for ingredient in meal.recipes.all %}
    <p>
      -<a href="{% url 'recipe_detail' ingredient.id %}">{{ ingredient.name }}</a>
    </p>
    {% endfor %}
  </div>
  {% empty %}
  <h2>No Meal Plans</h2>
  {% endfor %}
</main>

{% endblock content %}



{% block pagination %}
<footer>
  <a href="{% url 'meal_new' %}">Create New Meal Plan</a>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</footer>
{% endblock pagination %}